*{
    font-family: Arial;
    box-sizing: border-box;
    
}
h1{
    text-align: center;
    font-size: 40px;
}
.contenedor{
    width: 100%;
    padding: 15px;
    
}
body{
    margin-top: 150px;
}
.formulario{
    
    width: 600px;
    height: 700px;
    background: #fff;
    margin: auto;
    padding: 3px;
    background: #548aaa;
    text-align: center;
    
}
label{
    margin: 3px;
}
.contenedor-input{
    margin: 30px;
}

